.root {
    width: 100%;
    background-color: var(--gray-color);
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.fixedHeight {
  height: 100%;
}
  
@media (max-width: 912px) {
  .root {
    padding: 0;
  }
}
