.container {
    position: relative;
    background-color: inherit;
  }
  
  .content {
    display: none;
    position: absolute;
    z-index: 2;
    font-size: 12px;
    width: 100px;
    background: var(--light-color);
    color: var(--dark-color);
    padding: 4px;
    border-radius: 4px;
    top: 75%;
    right: 50%;
  }
  
  .trigger:hover + .content,
  .content:hover {
    display: block;
  }
  